@import url('https://fonts.googleapis.com/css2?family=Krona+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Krona+One&family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

@import url('./styles/reset.css');
@import url('./styles/header.css');
@import url('./styles/main.css');
@import url('./styles/form.css');
@import url('./styles/footer.css');

:root {
    --color-primary: #FCCAB8;
    --color-secondary: #ECD0C7;
    --color-tertiary: #F78C65 ;
    --color-gradient: #DEB3A4;
    --color-title: #230A01;
    --color-black: #000000;
    --color-white: #FFFFFF;

    --font-primary: "Krona One", sans-serif;
    --font-secondary: "Montserrat", sans-serif;
}

body {
    font-family: var(--font-primary);
    font-size: 1rem;
    margin: 0;
    padding: 0;
}