/* Estilos para as sections no main */
.main {
    padding: 1.25rem;
}

.item-section {
    margin-bottom: 2.5rem;
}

.item-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.item-content img {
    max-width: 100%;
    height: auto;
    margin-bottom: 0.625rem;
}

@media screen and (min-width: 48rem) {
    .item-content {
        flex-direction: row;
        justify-content: center;
        text-align: left;
    }

    .item-content img {
        margin-right: 1.25rem;
        margin-bottom: 0;
    }
}